
body{
    height: 100vh;
    /*background-color: rgb(33,37,41) !important;*/
}

#table-headline{
    font-weight: bold;
}

.new-movie-form{
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.new-show-form{
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.form-container{
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.input-group-text{
    width: 80px;
}
#Show-headline{
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 1em;
}

.booking-form{
    display: flex;
    justify-content: center;
}

.padding{
    padding: 1em;
}

.reciept-list{
    list-style-type: none;
    margin: 0;
    padding: 0.5rem;
}

.margin-top{
    height: 10em;
}